.App {
  text-align: center;
  margin-top: 4vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.addToList {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  max-width: 20vw;
  padding: 2%;
  margin: 0 auto;
}

.addToList form {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  margin: 0 auto;
}
